.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  &_image {
    width: 200px;
    height: 300px;
    background-color: lighten($black, 90%);
    aspect-ratio: 2/3;
    object-fit: cover;
  }
}